@model IEnumerable<ContactsBookApp.Models.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/my-js.js"></script>
<h2>Index</h2>

<p>
    <button class="btn btn-warning glyphicon glyphicon-star" id="newContact">New Contact</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFriend)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody"></tbody>
</table>
<div id="paging">
    <input class="btn btn-primary" type="button" id="prev" value="<" />
    <input class="btn btn-primary" type="button" id="next" value=">" />
</div><br />
Total contacts: <p id="total">0</p>

<script>
    $("#newContact").click(function () {
        OpenPopUp("/contacts/save");
    });
</script>